<?xml version="1.0" ?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="aster_risk"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.neoforged.devlaunch.Main"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" @C:\\Users\\yanas\\MCreatorWorkspaces\\aster_risk\\build\\moddev\\clientRunProgramArgs.txt"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value=" @C:\\Users\\yanas\\MCreatorWorkspaces\\aster_risk\\build\\moddev\\clientRunVmArgs.txt -Dfml.modFolders=mcreator%%C:\\Users\\yanas\\MCreatorWorkspaces\\aster_risk\\bin\\main"></stringAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="MOD_CLASSES" value="mcreator%%C:\Users\yanas\MCreatorWorkspaces\aster_risk\bin\main"></mapEntry>
    </mapAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\yanas\MCreatorWorkspaces\aster_risk\run"></stringAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="false"></booleanAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"></booleanAttribute>
</launchConfiguration>